*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sideNav{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    /* padding-top: 20px; */
}
.sideNav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 0.9rem !important;
    color: white;
    font-weight: 700;
    display: block;
}
.sideNav a img{
    padding: 20px 5px 20px 0px;
}
.sideNav a i{
    margin-right: 20px;
}
.playlist{
    padding-top: 20px !important;
}
.mainBox{
    margin-left: 250px;
}
.log-in-bar{
    background-color: #101010;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    /* width: 82%; */
}
.log-in-bar a{
    margin: 2px 10px;
    text-decoration: none;
    color: white;
}
.content{
    background-color: #1d1d1d;
    color: white;
    padding: 20px 20px 20px 30px !important;
}
.card{
    background-color: #181818 !important;
    border: none !important;
    position: relative;
    transition: background-color ease 250ms;

}

.card:hover{
    background-color: #303030 !important;
    transition: background-color ease 250ms;
}
.card-text{
    font-size: 12px !important;
    color: gray;
    font-weight: 700 !important;
}
.focusPart h3{
    margin: 30px 0px;
}
.card img{
    box-shadow: 0px 0px 10px 0px black;
}

.iconOverlay{
    position: absolute;
    right: 10%;
    top: 45%;
    transform: translateY(0px);
    opacity: 0;
    transition: transform ease-in-out 250ms, opacity ease 250ms;
}
.card:hover .iconOverlay{
    opacity: 1;
    transform: translateY(-10px);
    transition: transform ease-in-out 250ms, opacity ease 250ms, backfround-color ease 250ms;
}
.fa{
    color: #1ed760;
}
.forU{
    margin-right: 20px;
}
