*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.sideNav{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    /* padding-top: 20px; */
}
.sideNav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 0.9rem !important;
    color: #b3b3b3;
    font-weight: 700;
    display: block;
}
.sideNav a img{
    padding: 20px 5px 20px 0px;
}
.sideNav a i{
    margin-right: 20px;
}
.playlist{
    padding-top: 20px !important;
}
.mainBox{
    margin-left: 250px;
}
.log-in-bar{
    background-color: #101010;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    /* width: 82%; */
}
.log-in-bar a{
    margin: 2px 10px;
    text-decoration: none;
    color: white;
}
.content{
    background-color: #1d1d1d;
    color: white;
    padding: 20px 20px 20px 30px !important;
}
.card{
    background-color: #181818 !important;
    border: none !important;
    position: relative;
    transition: background-color ease 250ms;
    margin-right: 20px;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.card:hover{
    background-color: #303030 !important;
    transition: background-color ease 250ms;
}
.card-text{
    font-size: 12px !important;
    color: gray;
    font-weight: 700 !important;
}
.focusPart h3{
    margin: 30px 0px;
}
.card img{
    box-shadow: 0px 0px 10px 0px black;
}

.iconOverlay{
    position: absolute;
    right: 10%;
    top: 45%;
    transform: translateY(0px);
    opacity: 0;
    transition: transform ease-in-out 250ms, opacity ease 250ms;
}
.card:hover .iconOverlay{
    opacity: 1;
    transform: translateY(-10px);
    transition: transform ease-in-out 250ms, opacity ease 250ms, backfround-color ease 250ms;
}
.fa{
    color: #1ed760;
}
.forU{
    margin-right: 20px;
    margin-bottom: 50px;
}
.playerBarContainer{
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222222;
    padding: 10px 20px;
}
.horizontalCard:hover{
    background-color: #303030;
}
.midPart, .leftPart, .rightPart{
    width: 50%;
}

#backBtn, #forwardBtn, #shuffleBtn, #repeatBtn{
    width: 17px;
    fill: #b3b3b3;
    margin: 0px 15px;
    cursor: pointer;
}
.lowerProgressBar{
    width: 100%;
    margin-top: 10px;
    position: relative;
}
.lowerProgressBar p{
    color: #fff;
    font-size: smaller;
}
.lowerProgressBar #starting{
    position: absolute;
    left: -10%;
    top: -9px;
}
.progress{
    background-color: gray !important;
}
.progress-bar{
    background-color: #fff !important;
}
#ending{
    position: absolute;
    right: -10%;
    top: -9px;
}
#lyrics, #queue, #connection, #volume{
    width: 15px;
    fill: #b3b3b3;
    margin: 0px 8px;
    cursor: pointer;
}
.volSlider{
    height: 3px;
    
}

.hover, .hover i, .hover svg{
    color: #b3b3b3 !important;
    transition: color ease 250ms, fill ease 250ms;
    fill: #b3b3b3 !important;
}

.hover:hover, .hover:hover i, .hover:hover svg{
    color: #fff !important;
    fill: #fff !important;
    transition: color ease 250ms, fill ease 250ms;
}
#playBtn, .likeBtn{
    cursor: pointer;
}

.cardContainer{
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.cardContainer::-webkit-scrollbar{
    display: none;
}

.overlay{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 200;
    opacity: 0.8;
}
.loginForm{
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 2000;
    width: 30%;
    padding: 20px;
    background-color: #fff;
}
.logo{
    padding: 20px;
}
.logo svg{
    width: 10% !important;
    fill: #1ed760;
}
.loginThrough{
    padding: 15px 0px;
    margin-bottom: 10px;
}
#forgotPass:hover a, #createAccount:hover a{
    color: #1ed760 !important;
}

.hidden{
    display: none;
}